*{
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
   max-block-size: 1000px;
}

header img{
    margin-left: 40px;
    height: 100px;

}

header{
    border: 2px rgb(1, 95, 1) solid;
    height: 100px;
    width:1000x;
    margin-left: -60%;
    padding: 0px;
}
#titulo{
    font-family: 'Montserrat', sans-serif;
    color: #fefefe;
    margin-left: o auto;
    font-style: italic;
    font-size: 50px;
    padding: 3px;
    text-shadow: 2px 2px 2px rgba(0,0,0.2);
}
h1 img{
    height: 5000px;
    width: 2000px;
    padding: 0px;
    margin-top: 0px;
}
p{
    font-family:'Montserrat', sans-serif;
    color:black;
    margin-left: -7%;
    font-style: bold;

}

fieldset{
    border: 0px

}
body{
    background-color: #357707;
    font-family:'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #fefefe;
    margin-left: 36%;
    margin-top: 0%;
    justify-content: center;
    font-style: italic;
    box-sizing: border-box;
    
}
input,button,select{
    border-radius: 10px;
}

#campo{
    font-family:'Montserrat', sans-serif;
    margin-left: 36%;
}
#titulo2{
    font-family: 'Montserrat', sans-serif;
    color:#fefefe;
    margin-left: 0 auto;
    font-size: 2em;
    padding: 2px 2px;
    text-shadow: 2px 2px 2px rgba(0,0,0.2);

}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0 2em;
    color: white;
    display: block;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}
.campo input[type = "text"], .campo input[type = "email"], .campo input[type = tel], .campo select{
    padding: 0.2em;
    border: 2px solid #0cd867;
    box-shadow: 2px 2px 2px rgb(0,0,0.2);
    width: 700px;
    font-size: 15px;
    margin-left: -60px;

}
.campo input[type = "date"], .campo input[type = "password"], .campo input[type = "number"]{
    padding: 0.2em;
    border: 2px solid #0cd867;
    box-shadow: 2px 2px 2px rgb(0,0,0.2);
    width: 700px;
    font-size: 15px;
    margin-left: -60px;
}

button{
    font-size: 1em;
    border:0;
    margin-bottom: 1em;
    background: #0cd867;
    color: black;
    box-shadow: 4px 4px 4px rgba(0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0.5);
    top: 90%;
    left: 50%;
    margin-right: -50%;
}


